* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;
}

html {
    background: #222;
    height: -webkit-fill-available;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Courier, monospace;
    color: #eee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding: var(--space-3);
}

main p {
    margin-bottom: var(--space-2);
}

main p mark {
    background: none;
    color: inherit;
}
